INTERFACE={{snort_interface|default("eth0")}}
CONF={{snort_config_path|default("/etc/snort/snort.conf")}}


PIDFILEOPTS="--pid-path=/var/run/snort --no-interface-pidfile --nolock-pidfile"

{% if snort_promiscuous_interface|default(false) %}
OPTS="-R 1"
{% else %}
OPTS="-dev -p -R 1"
{% endif %}
